<ion-header>
  <ion-navbar color="primary">
    <ion-title>
        President Name Database
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <button ion-button (click)="onClear()">Clear</button><br>
    <button ion-button (click)="onAdd()">Add</button> 
      <input type="text" [(ngModel)]="newName"><br>
    <button ion-button (click)="onPop()">Pop</button><br>
    <button ion-button (click)="onShift()">Shift</button><br>
    <button ion-button (click)="onSort()">Sort</button><br>
    
    <h3>Message: {{msg}}</h3>
    
    <ul>
      <li *ngFor="let name of names">{{name}}</li>
    </ul>
</ion-content> 
